<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__content">
                <a class="logo" href="#">
                    <img class="logo__img" src="../../images/logo.png" alt="Логотип сайта">
                </a>
                <a class="phone__link phone__link--header" href="tel:+12345678911">+7 (123) 456 78 90</a>
                <button class="header__button" type="button">Наши салоны</button>
                <ul class="social">
                    <li class="social__item">
                        <a class="poor-vision" href="#">Версия для слабовидящих</a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#vk"></use>
                            </svg>
                            <span class="sr-only">Ссылка на Вконтакте</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#youtube"></use>
                            </svg>
                            <span class="sr-only">Ссылка на Ютуб</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#facebook"></use>
                            </svg>
                            <span class="sr-only">Ссылка на Фейсбук</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#instagram"></use>
                            </svg>
                            <span class="sr-only">Ссылка на Инстаграм</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__navigation">
        <div class="container">
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Косметология</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Пластическая хирургия</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Стоматология</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Лазерная медицина</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Контакты</a>
                    </li>
                </ul>
                <button class="btn-modal">Запись на прием</button>
            </nav>
        </div>
    </div>
</header>