.social {
    display: flex;
    align-items: center;

    &__item {
        &:not(:last-child) {
            margin-right: 57px;
        }
    }

    &__link {
        width: 24px;
        height: 24px;
        transition: box-shadow 0.2s linear;

        &:focus {
            box-shadow: 0 0 0 3px rgba($green-500, 0.5);
        }
    }

    &__icon {
        vertical-align: middle;
        width: 24px;
        height: 24px;
        fill: $green-500;
        transition: fill 0.2s linear;

        &:hover {
            fill: $green-900;
        }
    }
}

